@charset "UTF-8";

div.quadrado{
    border: 1px solid black;
    width: 300px;
    height: 300px;
    display: inline-block;
    border-radius: 10px;
    background-color: red;
}

body{
    background-image: url(imagens/wallpaper002.jpg);
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#q1{
    background-color: aqua;
}

#q2{
    background-image: linear-gradient(to top, yellow, red);
}

#q3{
    background-image: url(imagens/pattern001.png);
}

#q4{
    background-image: url(imagens/pattern002.png);
}
